PORT=4000
FRONTEND_URL=http://localhost:4000
API_URL=http://localhost:4000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=5432
DB_NAME=allmate_db
DB_USER=postgres
DB_PASSWORD=postgres

ADMIN_USER=admin@allmate.cl
ADMIN_PASSWORD=Admin123*
JWT_SECRET=super-secreto-cambiar-esto

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=erojas@esterospa.cl
SMTP_PASS=tu_clave_o_app_password
CONTACT_RECEIVER=erojas@esterospa.cl

WEBPAY_ENV=integration
WEBPAY_COMMERCE_CODE=597055555532
WEBPAY_API_KEY=579B532A7440BB0C9079DED94D31EA1615BACEB56610332264630D42D0A36B1C
WEBPAY_RETURN_URL=http://localhost:4000/api/pagos/webpay/confirmar
